<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Dumblr</title>
    </head>
    <body>
        <div class="navbar">
            <div>
                <header><h1>Dumblr</h1></header>
                <h4>It's like Tumblr but for devs.</h4>
            </div>

            <nav class="navlinks">
                <ul>
                    <li><a href="/">homepage</a></li>
                    <li><a href="/profile">profile</a></li>
                    {{#if logged_in}}
                    <button class="no-button" id="logout">logout</button>
                    {{else}}
                    <li><a href="/login">login</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>

        <hr>

        <div>
            {{{body}}}
        </div>

        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>