<div class="form">
    <div class="form-card">
        <h2>Login:</h2>
        <form class="login-form">
            <div>
                <label>Email:</label>
                <input type="text" id="login-email">
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id="login-password">
            </div>
            <button type="submit">Log In</button>
        </form>
    </div>

    <div class="form-card">
        <h2>Sign Up!</h2>
        <form class="signup-form">
            <div>
                <label>Username:</label>
                <input type="text" id="signup-username">
            </div>
            <div>
                <label>Email:</label>
                <input type="email" id="signup-email">
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id="signup-password">
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>

<script src="./js/login.js"